body {
  font-family: 'Roboto', sans-serif;
  color: #442F89;
  text-align: center;
  background: #442F89;
  background-size: cover;
  padding: 10vh;
  overflow: hidden;
  font-size: 22px;
}
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}
body a {
  color: #442F89;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 20vh;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  padding: 5px 15px;
}

#face {
  z-index: 50;
  font-weight: 300;
  font-size: 28px;
  position: absolute;
  top: 20vh;
  text-align: center;
  display: inline-block;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  padding: 5px 15px;
}

#bigHand, #secHand {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 10px;
  height: 50vh;
  background: #6245bf;
  border-radius: 10px;
  z-index: -2;
}

#secHand {
  width: 3px;
}

#littleHand {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 14px;
  height: 30vh;
  background: #6245bf;
  border-radius: 14px;
  z-index: -3;
}

.centered, .middle, .clock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.middle {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: #6245bf;
  z-index: -1;
}

.clock {
  content: '';
  background: #FFEE9C;
  width: 90vh;
  height: 90vh;
  border-radius: 90vh;
  z-index: -20;
  box-shadow: 10px 10px 0 #312263;
}
