body {
  font-family: 'Helvetica', Arial, sans-serif;
  color: #333;
  text-align: center;
  background: #8FB1C1;
  background-size: cover;
  overflow: hidden;
  font-size: 22px;
}
body a {
  color: #8FB1C1;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  bottom: 25vh;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 5px 15px;
}

#face {
  z-index: 50;
  font-weight: 700;
  font-size: 50px;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  width: 50vh;
  text-align: left;
  display: inline-block;
  text-transform: lowercase;
  padding: 20px 0;
  border-bottom: 10px solid #333;
  letter-spacing: -0.07em;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#web-link a {
  color: #333;
  top: 30px;
  right: 30px;
  font-size: 14px;
  position: absolute;
  font-weight: 700;
  text-align: left;
  display: inline-block;
}
#web-link a:hover {
  text-decoration: underline;
}

#bigHand, #secHand {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 10px;
  height: 30vh;
  background: #b0c8d3;
  border-radius: 10px;
  z-index: -2;
}

#secHand {
  width: 3px;
}

#littleHand {
  position: absolute;
  top: 30vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 14px;
  height: 20vh;
  background: #b0c8d3;
  border-radius: 14px;
  z-index: -3;
}

.centered, .middle, .clock {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.middle {
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #b0c8d3;
  z-index: -1;
}

.clock {
  content: '';
  background: #FFEE9C;
  width: 90vh;
  height: 90vh;
  border-radius: 90vh;
  z-index: -20;
  box-shadow: 10px 10px 0 #6e9aaf;
}
