body {
  font-family: 'Roboto', sans-serif;
  color: #ffccb3;
  text-align: center;
  background: #ff5500;
  background-size: cover;
  padding: 100px;
  overflow: hidden;
  font-size: 22px;
}
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}
body a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  top: 30px;
}

#face {
  z-index: 50;
  font-weight: 100;
}

#bigHand, #secHand {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 10px;
  height: 51vh;
  background: #ff7029;
  border-radius: 10px;
  z-index: -2;
}

#secHand {
  width: 5px;
}

#littleHand {
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  width: 14px;
  height: 31vh;
  background: #ff7029;
  border-radius: 14px;
  z-index: -3;
}
