$primary: #676767;
body {
  font-family: 'Roboto', sans-serif;
  color: darken($primary,15%);
  text-align: center;
  background: #111;
  background-size: cover;
  padding: 100px;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 20px;
  }
}
#face {
  font-size: 172px;
  background: url(https://c1.staticflickr.com/5/4107/5412347913_88fc08488b_b.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.6);
  z-index: 50;
}
#bigHand, #secHand {
  position: absolute;
  top:0;
  left: 50%;
  transform:translate(-50%,0);
  display: block;
  width: 10px;
  height: 51vh;
  background: #191919;
  border-radius: 10px;
  z-index: -2;
}
#secHand {
  width: 5px;
}
#littleHand {
  position: absolute;
  top:20vh;
  left: 50%;
  transform:translate(-50%,0);
  display: block;
  width: 14px;
  height: 31vh;
  background: #191919;
  border-radius: 14px;
  z-index: -3;
}
