$primary: #442F89;
$darker: darken($primary,10%);
$lighter: lighten($primary,15%);
body {
  font-family: 'Roboto', sans-serif;
  color: $primary;
  text-align: center;
  background: $primary;
  background-size: cover;
  padding: 10vh;
  overflow: hidden;
  font-size: 22px; 
  @media (max-width: 768px) {
    padding: 20px;
  }
  a {
    color: $primary;
    // color: $darker;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    bottom: 25vh;
    text-transform: uppercase;
    background: #FFEE9C;
    display: inline-block;
    transform: translate(-50%);
    padding: 5px 15px;
  }
}
#face {
  z-index: 50;
  font-weight: 300;
  font-size: 28px;
  position: absolute;
  bottom: 30vh;
  text-align: center;
  background: #FFEE9C;
  display: inline-block;
  transform: translate(-50%);
  padding: 5px 15px;
}
#bigHand, #secHand {
  position: absolute;
  top:0;
  left: 50%;
  transform:translate(-50%,0);
  display: block;
  width: 10px;
  height: 50vh;
  background: $lighter;
  border-radius: 10px;
  z-index: -2;
}
#secHand {
  width: 3px;
}
#littleHand {
  position: absolute;
  top:20vh;
  left: 50%;
  transform:translate(-50%,0);
  display: block;
  width: 14px;
  height: 30vh;
  background: $lighter;
  border-radius: 14px;
  z-index: -3;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.middle, {
  @extend .centered;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: $lighter;
  z-index: -1;
}
.clock {
  content: '';
  background: #FFEE9C;
  width: 90vh;
  height: 90vh;
  border-radius: 90vh;
  @extend .centered;
  z-index: -20;
  box-shadow: 10px 10px 0 $darker;
}  